// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    color: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(63, 81, 181, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}