@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  background: linear-gradient(180deg, #3f51b5 35%, #00d4ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

