.register {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

Form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.register__container--login-link {
  text-align: center;
}
